
.friendContainer{
    padding: 25px;
    width: 50%;
}

.yourFriends{
    margin-top: 30px;
}

.searchFriends input{
    height: 30px;
    width: 400px;
    background-color: rgb(230, 230, 230);
    border :none;
    padding: 5px;
    border-radius: 5px;
}

.searchFriends button{
    background-color: rgb(40, 147, 151);
    color: white;
    padding: 7px 10px;
    border-radius: 5px;
    border :none;
    height: 30px;
    margin-left: 10px;
    cursor: pointer;
}

.friend{
    display: flex;
    margin-top: 20px;
    width: 550px;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(102,102,102,1);
-moz-box-shadow: 0px 1px 3px 0px rgba(102,102,102,1);
box-shadow: 0px 1px 3px 0px rgba(102,102,102,1);
}

.friend img{
    height: 100px;
}

.friendInformation{
    margin-left: 10px;
    color: gray;
}

.friendInformation p{
    padding: 0;
    margin: 5px 0px 0px 0px;
    font-size: 14px;
}

.friendInformation p:nth-child(1){
   font-size: 16px;
   font-weight:bold;
   margin-top: 10px;
}

.friendOptions, .joinGroup{
    background-color: transparent;
    padding: 0;
    height: fit-content;
    position: absolute;
    margin-left: 520px;
    margin-top:10px;
    cursor: pointer;
    font-size: 18px;
    border: none;
}

.onlineSignal{
    height: 5px;
    width: 5px;
    background-color: green;
    position: absolute;
}

.searchedFriend{
    display: flex;
    margin-top: 20px;
    width: 550px;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(102,102,102,1);
-moz-box-shadow: 0px 1px 3px 0px rgba(102,102,102,1);
box-shadow: 0px 1px 3px 0px rgba(102,102,102,1);
}

.searchedFriend img{
    height: 50px;
}
